body {
	font-family: 'Nimbus Sans D OT Condensed';
	color: white;
	margin: 0;
	padding: 0;
}
#info {
	display: grid;
	grid-template-columns: auto 200px max-content;
	grid-template-rows: 200px auto;
	position: absolute;
	margin-left: 100%;
	overflow: hidden;
	
	border: 4px solid rgb(121,69,106);
}
#album {
	width: 100%;
	height: 100%;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	z-index: 2;
}
#track {
	grid-column-start: 3;
	grid-row-start: 1;
	font-size: 400%;
	padding-left: 32px;
	padding-right: 64px;
	z-index: 2;
	margin-top: 0.5em;
}
#artist {
	grid-column-start: 3;
	grid-row-start: 1;
	padding-left: 32px;
	padding-right: 64px;
	z-index: 2;
	font-size: 360%;
	padding-top: 0.5em;
}
#background {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: black;
}
